#bg {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: -1;
}

#bg-select-light,
#bg-select-dark {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 6rem;
  gap: 2rem;
}

#bg-select-light > span,
#bg-select-light .icon,
#bg-select-dark > span,
#bg-select-dark .icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 1.5rem;
  height: 1.5rem;
  position: relative;
  -webkit-transition: opacity 0.3s, visibility 0.3s;
  transition: opacity 0.3s, visibility 0.3s;
  cursor: pointer;
}

#bg-select-light > span::before,
#bg-select-light .icon::before,
#bg-select-dark > span::before,
#bg-select-dark .icon::before {
  content: attr(data-hover);
  text-shadow: 0 0 0.3rem rgba(255, 255, 255, 0.8);
  visibility: hidden;
  opacity: 0;
  font-size: 1.2rem;
  position: absolute;
  bottom: 200%;
}

#bg-select-light > span:hover,
#bg-select-light .icon:hover,
#bg-select-dark > span:hover,
#bg-select-dark .icon:hover {
  opacity: 0.8;
}

#bg-select-light > span:hover:before,
#bg-select-light .icon:hover:before,
#bg-select-dark > span:hover:before,
#bg-select-dark .icon:hover:before {
  opacity: 1;
  visibility: visible;
}

#bg-select-light > span svg,
#bg-select-light .icon svg,
#bg-select-dark > span svg,
#bg-select-dark .icon svg {
  -webkit-transform: translate(0px, -1.5px);
          transform: translate(0px, -1.5px);
}

#bg-select-light span,
#bg-select-dark span {
  opacity: 0.3;
  border-radius: 50%;
}

#bg-select-light .active,
#bg-select-dark .active {
  opacity: 0.8;
}

#bg-select-light .custom-input,
#bg-select-dark .custom-input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  bottom: 10rem;
  width: 20rem;
}

#bg-select-light .custom-input input,
#bg-select-dark .custom-input input {
  font-family: Montserrat-R, sans-serif;
  letter-spacing: 0.5px;
  width: 100%;
  border: 0;
  padding: 0.5rem 3rem 0.5rem 1rem;
  border-radius: 2rem;
}

#bg-select-light .custom-input input:focus,
#bg-select-dark .custom-input input:focus {
  outline: none;
}

#bg-select-light .custom-input svg,
#bg-select-dark .custom-input svg {
  -webkit-transform: translate(0, 0.5px);
          transform: translate(0, 0.5px);
}

#bg-select-light .custom-input svg:hover,
#bg-select-dark .custom-input svg:hover {
  cursor: pointer;
}

#bg-select-light > span {
  background-color: var(--offwhite);
}

#bg-select-light > span::before {
  color: var(--offwhite);
}

#bg-select-light .active {
  background-color: var(--offwhite);
}

#bg-select-light .icon {
  color: var(--offwhite);
}

#bg-select-light .custom-input input {
  background-color: rgba(255, 255, 255, 0.5);
  color: black;
}

#bg-select-light .custom-input input::-webkit-input-placeholder {
  color: black;
  opacity: 0.6;
}

#bg-select-light .custom-input input:-ms-input-placeholder {
  color: black;
  opacity: 0.6;
}

#bg-select-light .custom-input input::-ms-input-placeholder {
  color: black;
  opacity: 0.6;
}

#bg-select-light .custom-input input::placeholder {
  color: black;
  opacity: 0.6;
}

#bg-select-dark > span {
  background-color: var(--black);
}

#bg-select-dark > span::before {
  color: var(--black);
}

#bg-select-dark .active {
  background-color: var(--black);
}

#bg-select-dark .icon {
  color: var(--black);
}

#bg-select-dark .custom-input input {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
}

.bg-enter {
  opacity: 0;
  -webkit-transition: var(--bg-transition);
  transition: var(--bg-transition);
}

.bg-enter-active {
  opacity: 1;
  -webkit-transition: var(--bg-transition);
  transition: var(--bg-transition);
}

.bg-exit {
  opacity: 0;
  -webkit-transition: var(--bg-transition);
  transition: var(--bg-transition);
}

.bg-exit-active {
  opacity: 1;
  -webkit-transition: var(--bg-transition);
  transition: var(--bg-transition);
}
/*# sourceMappingURL=Bg.css.map */