#bg {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: -1;
}

#bg-select-light,
#bg-select-dark {
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 6rem;
  gap: 2rem;
  & > span {
    display: flex;
    justify-content: center;
    opacity: 0.3;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    position: relative;
    transition: opacity 0.3s, visibility 0.3s;
    cursor: pointer;
    &::before {
      content: attr(data-hover);
      visibility: hidden;
      opacity: 0;
      font-size: 1.2rem;
      position: absolute;
      bottom: 200%;
    }
    &:hover {
      opacity: 0.8;
      &:before {
        opacity: 1;
        visibility: visible;
      }
    }
  }
  .active {
    opacity: 0.8;
  }
}

// ==================== LIGHT / DARK THEME

// LIGHT VER
#bg-select-light {
  & > span {
    background-color: var(--offwhite);
    &::before {
      color: var(--offwhite);
    }
  }
  .active {
    background-color: var(--offwhite);
  }
}

// DARK VER
#bg-select-dark {
  & > span {
    background-color: var(--black);
    &::before {
      color: var(--black);
    }
  }
  .active {
    background-color: var(--black);
  }
}
