#container {
  display: flex;
  justify-content: center;
  height: 100%;
  width: 100%;
  position: fixed;

  .date-time {
    display: flex;
    flex-direction: column;
    justify-content: center;
    letter-spacing: 0.5rem;

    .day {
      text-align: right;
    }

    // LIGHT VER

    .date.light,
    .day.light {
      font-family: Montserrat-R, sans-serif;
      font-size: var(--h2);
      color: var(--offwhite);
      opacity: 0.7;
    }
    .time.light {
      font-family: Montserrat-B, sans-serif;
      font-size: var(--h1);
      color: var(--offwhite);
      text-shadow: 0 0 1rem rgba(255, 255, 255, 0.8);
    }

    // DARK VER

    .date.dark,
    .day.dark {
      font-family: Montserrat-R, sans-serif;
      font-size: var(--h2);
      color: var(--black);
      opacity: 0.7;
    }
    .time.dark {
      font-family: Montserrat-B, sans-serif;
      font-size: var(--h1);
      color: var(--black);
      //   text-shadow: 0 0 1rem rgba(0, 0, 0, 0.8);
    }
  }
}
