#container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  position: fixed;
  gap: 10rem;

  // LIGHT VER
  .date-time.light {
    display: flex;
    flex-direction: column;
    justify-content: center;
    letter-spacing: 0.5rem;

    .date-temp {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .date,
      .temp {
        font-family: Montserrat-R, sans-serif;
        font-size: var(--h2);
        color: var(--offwhite);
        text-shadow: 0 0 1rem rgba(255, 255, 255, 0.8);
      }
      .temp {
        cursor: pointer;
      }
    }

    .day {
      text-align: right;
      text-transform: uppercase;
      font-family: Montserrat-R, sans-serif;
      font-size: var(--h2);
      color: var(--offwhite);
      text-shadow: 0 0 1rem rgba(255, 255, 255, 0.8);
    }

    .time {
      font-family: Montserrat-B, sans-serif;
      font-size: var(--h1);
      color: var(--offwhite);
      text-shadow: 0 0 1rem rgba(255, 255, 255, 0.8);
    }
  }

  // DARK VER
  .date-time.dark {
    display: flex;
    flex-direction: column;
    justify-content: center;
    letter-spacing: 0.5rem;

    .date-temp {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .date,
      .temp {
        font-family: Montserrat-R, sans-serif;
        font-size: var(--h2);
        color: var(--black);
        text-shadow: 0 0 1rem rgba(255, 255, 255, 0.8);
      }
      .temp {
        cursor: pointer;
      }
    }

    .day {
      text-align: right;
      text-transform: uppercase;
      font-family: Montserrat-R, sans-serif;
      font-size: var(--h2);
      color: var(--black);
      text-shadow: 0 0 1rem rgba(255, 255, 255, 0.8);
    }

    .time {
      font-family: Montserrat-B, sans-serif;
      font-size: var(--h1);
      color: var(--black);
      //   text-shadow: 0 0 1rem rgba(0, 0, 0, 0.8);
    }
  }

  .loading {
    width: 2.5rem;
  }
}
