#container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  width: 100%;
  position: fixed;
  gap: 10rem;
}

#container .date-time.light {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  letter-spacing: 0.5rem;
}

#container .date-time.light .date-temp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#container .date-time.light .date-temp .date,
#container .date-time.light .date-temp .temp {
  font-family: Montserrat-R, sans-serif;
  font-size: var(--h2);
  color: var(--offwhite);
  text-shadow: 0 0 1rem rgba(255, 255, 255, 0.8);
}

#container .date-time.light .date-temp .temp {
  cursor: pointer;
}

#container .date-time.light .day {
  text-align: right;
  text-transform: uppercase;
  font-family: Montserrat-R, sans-serif;
  font-size: var(--h2);
  color: var(--offwhite);
  text-shadow: 0 0 1rem rgba(255, 255, 255, 0.8);
}

#container .date-time.light .time {
  font-family: Montserrat-B, sans-serif;
  font-size: var(--h1);
  color: var(--offwhite);
  text-shadow: 0 0 1rem rgba(255, 255, 255, 0.8);
}

#container .date-time.dark {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  letter-spacing: 0.5rem;
}

#container .date-time.dark .date-temp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#container .date-time.dark .date-temp .date,
#container .date-time.dark .date-temp .temp {
  font-family: Montserrat-R, sans-serif;
  font-size: var(--h2);
  color: var(--black);
  text-shadow: 0 0 1rem rgba(255, 255, 255, 0.8);
}

#container .date-time.dark .date-temp .temp {
  cursor: pointer;
}

#container .date-time.dark .day {
  text-align: right;
  text-transform: uppercase;
  font-family: Montserrat-R, sans-serif;
  font-size: var(--h2);
  color: var(--black);
  text-shadow: 0 0 1rem rgba(255, 255, 255, 0.8);
}

#container .date-time.dark .time {
  font-family: Montserrat-B, sans-serif;
  font-size: var(--h1);
  color: var(--black);
}

#container .loading {
  width: 2.5rem;
}
/*# sourceMappingURL=DateTimeWeather.css.map */