#container-light,
#container-dark {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  position: fixed;
  gap: 4rem;

  .info-container {
    display: flex;
    flex-direction: column;
    gap: 3rem;
  }

  .info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    .date-temp {
      display: flex;
      justify-content: space-between;
      align-items: center;
      letter-spacing: 0.5rem;
      h2 {
        font-family: Montserrat-R, sans-serif;
        font-size: var(--h2);
        text-transform: uppercase;
      }
      h2:nth-child(3) {
        cursor: pointer;
      }
    }
    .time {
      font-family: Montserrat-B, sans-serif;
      font-size: var(--h1);
      letter-spacing: 0.5rem;
    }
  }

  .loading {
    width: 2.5rem;
  }
}

// ==================== LIGHT / DARK THEME

// LIGHT VER
#container-light {
  .info {
    .date-temp {
      h2 {
        color: var(--offwhite);
        text-shadow: 0 0 1rem rgba(255, 255, 255, 0.8);
      }
    }
    .time {
      color: var(--offwhite);
      text-shadow: 0 0 1rem rgba(255, 255, 255, 0.8);
    }
  }
}

// DARK VER
#container-dark {
  .info {
    .date-temp {
      h2 {
        color: var(--black);
        // text-shadow: 0 0 0.8rem rgba(255, 255, 255, 0.8);
      }
    }

    .time {
      color: var(--black);
    }
  }
}
