// LIGHT VER
#container-light {
  #notes {
    text-align: center;
    h2 {
      color: var(--offwhite);
    }
    .notepad {
      width: 100%;
      min-height: 5rem;
      max-height: 30rem;
      padding: 1.5rem;
      resize: none;
      outline: none;
      overflow: auto;
      border: none;
      opacity: 0.5;
      border-radius: 1rem;
    }
  }
}

// DARK VER
#container-dark {
  #notes {
    text-align: center;
    h2 {
      color: var(--black);
    }
    .notepad {
      background-color: var(--black);
      color: var(--offwhite);
      width: 100%;
      min-height: 5rem;
      max-height: 30rem;
      padding: 1.5rem;
      resize: none;
      outline: none;
      overflow: auto;
      border: none;
      opacity: 0.5;
      border-radius: 1rem;
    }
  }
}
