#container-light #notepad,
#container-dark #notepad {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 100%;
}

// LIGHT VER
#container-light {
  .notes {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;

    &:hover {
      cursor: pointer;
    }

    h3 {
      font-size: var(--h3);
      color: var(--offwhite);
      text-shadow: 0 0 1rem rgba(255, 255, 255, 0.8);
      letter-spacing: 0.3rem;
      text-transform: uppercase;
    }

    .chevron {
      display: flex;
      align-items: center;
    }
  }

  .note-area-container {
    width: 100%;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 1rem;
    padding: 1.5rem;
    .note-area {
      line-height: 1.4em;
      background-color: transparent;
      color: var(--black);
      width: 100%;
      height: 10rem;
      resize: none;
      outline: none;
      overflow: auto;
      border: none;
      &::placeholder {
        color: var(--black);
        opacity: 0.6;
        line-height: 10rem;
      }
    }
  }

  ::-webkit-scrollbar {
    width: 1rem;
  }

  ::-webkit-scrollbar-thumb {
    background-clip: padding-box;
    border-radius: 2rem;
    background-color: rgba(255, 255, 255, 0.5);
    border: 0.3rem solid transparent;
  }
}

// DARK VER
#container-dark {
  .notes {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;

    &:hover {
      cursor: pointer;
    }

    h3 {
      font-size: var(--h3);
      color: var(--black);
      letter-spacing: 0.3rem;
      text-transform: uppercase;
    }

    .chevron {
      display: flex;
      align-items: center;
    }
  }

  .note-area-container {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 1rem;
    padding: 1.5rem;
    .note-area {
      line-height: 1.4em;
      background-color: transparent;
      color: var(--offwhite);
      width: 100%;
      height: 10rem;
      resize: none;
      outline: none;
      overflow: auto;
      border: none;
      &::placeholder {
        color: var(--offwhite);
        opacity: 0.6;
        line-height: 10rem;
      }
    }
  }

  ::-webkit-scrollbar {
    width: 1rem;
  }

  ::-webkit-scrollbar-thumb {
    background-clip: padding-box;
    border-radius: 2rem;
    background-color: rgba(0, 0, 0, 0.5);
    border: 0.3rem solid transparent;
  }
}
